.github/
.vscode/
.git/
.gitignore
.vscodeignore
.pre-commit-config.yaml
.pre-commit-config.yaml

engine/tests/
engine/docs/
engine/input/
engine/output/
engine/tools/
engine/.phpunit.cache/
engine/phpdoc.phar
engine/phpdoc.xml
engine/gerar_docs.php

runtime/

!engine/vendor/
!n8n-workflow.json
